/*main structure*/

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

header {
	z-index: 100;
}

main {
	z-index: 100;
	margin: 0 0 0 40px;
}

section {
	background: #EEEEEF;
	padding: 20px;
	opacity: 0.9;
	border-left: 0px solid #224577;
}

.module-settings {
	position: relative;
	overflow: hidden;
}

h1 {
	color: #370D77;
	margin-bottom: 20px;
}

h2 {
	color: #370D77;
	margin-bottom: 10px;
}

.small-text {
	font-size: 10px;
}

/*logo*/

.logo {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-left: 10px;
}

.logo-text {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 50px 0px 0px -5px;
}

.logo-text-one {
	font-size: 32px;
	line-height: 24px;
	font-weight: 700;
	color: #21B2E3;
}

.logo-text-two {
	font-size: 27px;
	line-height: 24px;
	font-weight: 300;
	color: #EF1854;
}

/*font styles*/

body {
	font-family: 'Shanti', sans-serif;
}

/*slider*/
/*acquired from here http://codepen.io/chriscoyier/pen/FtnAa*/

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #37D8FF;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 20px;
  background: #FF0048;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #37D8FF;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #37D8FF;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 20px;
  background: #FF0048;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #37D8FF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #37D8FF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 20px;
  background: #FF0048;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #37D8FF;
}

input[type=range]:focus::-ms-fill-upper {
  background: #37D8FF;
}

/*toggle button*/
/*acquired from here https://codepen.io/mallendeo/pen/eLIiG*/
.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #7F7F7F;
  border-radius: 2em;
}

.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #7F7F7F;
  content: "";
  border-radius: 1em;
}

.tgl-flat:checked + .tgl-btn {
  border: 4px solid #FF124E;
}

.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #FF124E;
}

/*mobile*/

@media (max-width: 300px) { 
	.logo-text {
		display: none;
	}
}