/*Main elements*/

body {
	background-position: center top, center top;
	background-image: url(../img/nebula.png), linear-gradient(#FF2943, #680FFF);
	background-repeat: no-repeat, repeat-x;
	background-size: cover, cover;
	background-color: #680FFF;
}

.wrapper {
	text-align: center;
	padding: 40px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	overflow: hidden;
	max-width: 880px;
	margin: auto;
}

main {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 100;
}

main div {
	flex: 4;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 200px;
	z-index: 10;
	background-image:linear-gradient(rgba(104,15,255,0), #680FFF);
}

/*Headlines*/

h1 {
	padding: 20px;
}

h2 {
	margin-bottom: 10px;
}

/*Temperature convertor*/

.sign {
	flex: 1;
	margin-top: -10px;
	padding: 10px;
	color: #FF284C;
	font-size: 20px;
	text-shadow: 5px 5px 20px #680FFF;
}

.sign p {
	font-size: 100px;
}

input {
	display: inline-block;
	text-align: center;
	width: 180px;
	font-size: 26px;
	color: #4C2798;
	padding: 5px;
	box-shadow: 10px 10px 20px #680FFF;
	border-radius: 10px;
	z-index: 100;
	cursor: pointer;
}

input:focus {
	outline: none;
	box-shadow: 10px 10px 30px #FF0057;
	background-color: #D0F2FF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div .type {
	margin-top: 10px;
}

/*Lower paragraphs*/

.description p {
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.2px;
	padding: 10px 15px;
	text-align: justify;
}

.p-highlight {
	font-family: 'Roboto Slab', serif;
	color: #36FFF5;
	letter-spacing: 0.5px;
	text-shadow: 5px 5px 10px #9A0BFF;
}

/*Particles*/

.particle {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: #680FFF;
	border-radius: 50%;
	z-index: 10;
}

/*Responsive*/

@media (max-width: 450px) {
	main {
		flex-direction: column;
	}

	.sign {
		margin: -50px 0 -40px 0;
	}

	.sign p {
		font-size: 150px;
	}

	.description p {
		margin-top: 20px;
		font-size: 12px;
		padding: 10px 10px;
	}
}