body {
	text-align: center;
	padding: 40px;
	background: #333;
	color: #fff;
	font-family: Avenir, sans-serif;
	background-image: url(../img/nebula.png), linear-gradient(#FF2943, #680FFF);
	background-repeat: no-repeat, repeat-x;
	background-size: cover, cover;
	background-color: #680FFF;
	text-align: center;
}

h1 {
	padding: 20px;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

main div {
	flex: 4;
}

footer {
	position: relative;
	display: block;
	width: 100%;
	height: 200px;
}

.sign {
	flex: 1;
	margin-top: -20px;
	padding: 10px;
	color: #FF284C;
	font-size: 20px;
	text-shadow: 5px 5px 20px #680FFF;
}

.sign p {
	font-size: 100px;
}

input {
	display: inline-block;
	text-align: center;
	width: 160px;
	font-size: 26px;
	color: #4C2798;
	padding: 5px;
	box-shadow: 10px 10px 20px #680FFF;
	border-radius: 10px;
}

input:focus {
	outline: none;
	box-shadow: 10px 10px 30px #FF0057;
	background-color: #D0F2FF;
}

button {
	margin: 30px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 700;
	color: #989;
	background-color: #F3FF0D;
	border: none;
	outline: none;
}

button:active {
	color: #fff;
	background-color: #FF56BC;
	box-shadow: 0px 0px 0px #000;
}

div .type {
	margin-top: 10px;
}

.particle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: #680FFF;
	border-radius: 50%;
}

@media (max-width: 450px) {
	main {
		flex-direction: column;
	}

	.sign {
		margin: -50px;
	}
}