/* Reset */
/* ------------------------ */
* {
	margin: 0;
	padding: 0;	
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}


/* Layout */
/* ------------------------ */

body {
	font-family: Arial;
	background-color: #444;
	color: #fff;
	padding: 50px;
	margin: 30px;
	border: 5px solid #878787;
}

header {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #878787;
	text-align: center;
}

li {
	display: inline;
}

a {
	color: #23D39E;
}

h1 {
	margin-bottom: 30px;
}

.nav {
	list-style-type: none;
}

.name {
	font-family: serif;
	font-size: 42px;
	font-style: italic;
	font-weight: 600;
}

/* Headings */
/* ------------------------ */



/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */



/* About Me page */
/* ------------------------ */

.wendy {
	float: right;
	padding: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 1px solid #878787;
}

/* Resume page */
/* ------------------------ */


/* Resume page - Experience */
/* ------------------------ */
