body {
	text-align: center;
	padding: 40px;
	background: #333;
	color: #fff;
	font-family: Avenir, sans-serif;
}

h1 {
	padding: 20px;
}

input {
	display: inline-block;
	text-align: center;
	width: 160px;
	font-size: 20px;
	padding: 10px;
}

button {
	margin: 30px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 15px;
	color: #989;
	background-color: #F3FF0D;
	box-shadow: 5px 5px 20px #000;
	border: none;
	outline: none;
}

button:active {
	color: #fff;
	background-color: #FF56BC;
	box-shadow: 0px 0px 0px #000;
}

.sign {
	display: inline-block;
	padding: 10px;
	color: #FF284C;
	font-size: 20px;
}